CREATE DATABASE [lecuong] ON  PRIMARY 
( NAME = N'lecuong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\lecuong.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'lecuong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\lecuong_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [lecuong]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [lecuong] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
